@import '~bootstrap/scss/bootstrap';

// body {
//   background-color: #343a40;
// }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
 #basic-sidebar-nav, #sidebar-content {
  display: flex;
  flex-direction: column;
 }
